<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postmessege" method="post">
        <input type = "email" name="email" placeholder="Email">
        <input type="text" name="messege" placeholder="Messege">
        <button type ="submit">Okej</button>
    </form>
</body>
</html>